header {
    height: 125px;
    background-color: #fcdb03;
    width: 100%;
}
#container {
    min-width: 800px;
    margin: 0px auto;
}
nav {
    width: 15%;
    min-width: 150px;
    float: left;
    min-height: 450px;
    background-color: #f5ff6e;
    border-top:solid;
    border-width:thick;
}
nav ul {
        list-style-type: none;
        padding: 10px 0px 0px 10px;
}

nav a:hover, footer a:hover {
        text-decoration: none;
        font-weight: bold;
        color: blueviolet;
        font-size: 18px;
}
    nav a {
        color: black;
    }
content {
    width: 85%;
    min-width: 450px;
    float: left;
    min-height: 450px;
    padding: 20px 10px 10px 10px;
    background-color: #fbffbf;
    border-left:solid;
    border-top:solid;
    border-width:thick;
}
footer {
    height: 50px;
    clear: both;
    border-top: solid;
    border-width: medium;
}
img {
    height: 125px;
}