<ul>
    <li>
        <a asp-controller="Home" asp-action="index">
            Startseite
        </a>
    </li>
    <li>
        <a asp-controller="Pokemon" asp-action="index">
            Pokemon
        </a>
    </li>

</ul>